body {
  font-family: Arial;
  background-color: white;
  color: black;
  padding: 10pt;
}

h2 {
  font-size: x-large;
}

td {
  text-align: left;
  padding-right: 5pt;
}

thead th {
  text-align: left;
  padding-right: 5pt;
  font-weight: bold;
}

header {
  font-weight: bold;
  font-size: xxx-large;
  background-color: lightgoldenrodyellow;
  color: darkred;
}

footer {
  background-color: lightgoldenrodyellow;
}

header p {
  font-size: medium;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

nav {
  margin-bottom: 1%;
}

button {
  font-family: Arial;
  background-color: white;
  border: black;
  border-style: solid;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

img {
  border: 1px solid black;
  border-radius: 1px;
  max-width: 300px;
  max-height: 300px;
}

figcaption {
  padding-bottom: 10px;
}

button:hover {
  color: red;
}

.App {
  text-align: center;
}

.spicy-text {
  color: red;
}

.flex-parent-element {
  display: flex;
}

.flex-child-element {
  flex: 1;
}

.important {
  font-size: large;
}

.front {
  border: 1px solid black;
  border-radius: 1px;
  width: 600px;
  max-width: 90%;
  max-height: 90%;
}